<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Denis/Desktop/Java/Java projects/AppiumAndroidTesting">
        <classes>
            <class name="org.example.MainScreenTest">
                <methods>
                    <include name="verifyOfSumming"/>
                    <include name="verifyTopNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>